* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(#1c2229, #353f49);
  color: lightgray;
  height: 100vh;
}

header {
  height: 30vh;
  padding: 0 2rem 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#title {
  font-weight: 300;
  text-align: center;
}

#titleDescription {
  margin-top: 1rem;
  text-align: center;
}

code {
  background: #d0d0d5;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
}

.form-container {
  width: 80%;
  margin-bottom: 2rem;
}

textarea {
  width: 96.8%;
  color: lightgray;
  border-radius: 0.2rem;
  border-color: lightgray;
  margin-bottom: 1rem;
  /* sample images: 
   1) office british and american: https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcGMGN_1wyMqFiBeQNuLBbrTIfyg0DRWA5oA&usqp=CAU
   2) both flags: https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIwDZbIxqYyLnqrgGH8VcUippjfI6I3cBNtw&usqp=CAU
   3) cartoon: https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTM8JmO8XZGRf43qJdxYwKMXJYtNiOzfZaC_g&usqp=CAU
  */
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIwDZbIxqYyLnqrgGH8VcUippjfI6I3cBNtw&usqp=CAU");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#locale-select {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background: maroon;
  color: white;
  width: 45%;
  margin-right: 9%;
  font-weight: 100;
}

#translate-btn {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 45%;
  background-color: navy;
  color: white;
}

#translate-btn:hover {
  filter: brightness(80%);
  cursor: pointer;
}

button:hover {
  filter: brightness(80%);
  cursor: pointer;
}

#output-container,
#solution-container,
#text-input,
#locale-select,
input[type="button"] {
  font-size: 1.1rem;
}

#output-container {
  width: 80%;
  display: flex;
  flex-direction: column;
}

#solution-container {
  font-weight: bold;
}

#translated-sentence {
  margin-top: 1rem;
  font-weight: normal;
  color: white;
  border-radius: 0.2rem;
  border-color: lightgray;
  padding: 0.5rem 0 0.5rem 0;
}

#error-msg {
  font-weight: normal;
  color: rgb(194, 0, 0);
}

.highlight {
  color: green;
}

#text-input {
  padding: 10px;
}

footer {
  margin-top: 1rem;
  text-align: center;
}

#footerLink {
  color: navy;
  text-decoration: none;
}

#footerLink:hover {
  color: lightgray;
}
